<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.autoirrigation">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DeviceStatus.OfflineDevice"
            android:theme=""></activity>
        <activity android:name=".DeviceStatus.OnlineDevice" />
        <activity android:name=".DrawerActivities.Setting.ChangePwdActivity" />
        <activity android:name=".DrawerActivities.Setting.SettingActivity" />
        <activity
            android:name=".DeviceStatus.DeviceInfo"
            android:theme="@style/ActivityEntryAnimation" />
        <activity
            android:name=".DrawerActivities.Feedback.FeedbackActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".DrawerActivities.About.OpenSourceActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".DrawerActivities.About.AboutActivity"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".TimingTask.AddTaskActivity"
            android:theme="@style/Theme.FloatingDialog"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.autoirrigation.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".TimingTask.AlarmService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>